body {
    background-color: darkkhaki;
    background-image: linear-gradient(to bottom, #ffffff, darkkhaki);
    background-repeat: no-repeat;
    color: #000000;
}

.heading1 {
    color: black
}

#highlight {
    color: crimson
}

.style {
    color: crimson
}

#container {
    margin: auto;
    background-color: azure;
    width: 80%;
    align-content: center;
    padding: 10px;
    box-shadow: 10px 10px 10px #828282;
}

h1 {
    background-color: darkseagreen;
    opacity: 0.6;
    width: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 2px solid #000000;
    border-radius: 15px;
}

h2 {
    margin-top: 5%;
    text-shadow: 2px 2px 2px #828282;
}

h3 {
    margin-top: 5%;
}

footer {
    margin-top: 5%
}